<div id="deleteButtonsCard" class="ui card" style="display:none">
  <div class="content">
    <div class="ui basic fluid center aligned container">
      <div class="ui two buttons">
        <div id="deleteSelectedButton" class="ui basic red button">Delete</div>
        <div id="deleteSelectedCancelButton" class="ui basic grey button">Cancel</div>
      </div>
    </div>
  </div>
</div>