<div class="ui raised card">
  {{#each allUsers}}
    <div class="extra content">
      <a href="/userTimeline/{{_id}}">
        <div class="left floated author">
          <img class="ui avatar image" src="{{profilePicture}}"> {{firstName}} {{lastName}}
        </div>
      </a>
    </div>
  {{/each}}
</div>