<div id="userButtonsCard" class="ui card">
  <div class="content">
    <div class="ui basic fluid center aligned container">
      <button id="showSelectItemsToDeleteButton" class="ui inverted brown icon button">
        <i class="configure icon"></i>
      </button>
    </div>
  </div>
</div>