<nav class="ui blue inverted menu">
    <header class="header item"> <a href="/"> Zwitscher </a> </header>
    <div class="right menu">

      <div class="item">
        <form id="loginForm" class="ui mini form" action="/login" method="POST">
          <div class="two fields">
            <input id="email" placeholder="Email" type="text" name="email">
            <input id="password" placeholder="Password" type="password" name="password">
          </div>
        </form>
      </div>

        <a class="item" onclick="login()">  Login</a>
        <a class="item" href="/signup"> Signup</a>
    </div>
</nav>
<script>
  function login() {
    const email = $('#email').val();
    const password = $('#password').val();

    if(email === '' && password === ''){
      document.getElementById('loginForm').method = "GET";
      console.log('set method to GET');
    }

    document.getElementById('loginForm').submit();
  }
</script>