{{> mainmenu _id="home" }}

<section class="ui centered stackable grid">

  <div class="ui eleven wide stacked column">
    {{> postTweet }}
    <div class="ui fluid stackable cards">
      {{#each tweets}}
        {{> tweet }}
      {{/each}}
    </div>
  </div>

    <div class="ui four wide column">
      {{#with loggedInUser}}
        {{> userCard }}
      {{/with}}
    </div>


</section>