{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/twitter_512_512.png" class="ui medium image">
        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Welcome to Zwitscher</header>
            <p> Share your thoughts with everyone! </p>
        </article>
    </div>
</section>