{{> mainmenu _id="home" }}

<section class="ui centered stackable grid">

  <div class="ui eleven wide stacked column">
    {{> postTweet displayedTimeline='userTimeline' }}
    <div class="ui stackable two cards">
      {{#each tweets }}
        {{> tweetCard tweet=this displayedTimeline='userTimeline' }}
      {{/each}}
    </div>
  </div>

  <div class="ui four wide column">
    <div class="ui stackable cards">
      {{#if showUserButtons}}
        {{> userButtonsCard }}
        {{> deleteCard }}
      {{/if}}

      {{#with user}}
        {{> userCard }}
      {{/with}}
    </div>
  </div>

</section>

<script src="/scripts/deleteMultipleItems.js"></script>